body{
    padding: 60px 100px;
    font-family: sans-serif;
}

.container-top{
    background-color: tomato;
    padding: 20px;
    display: flex;
    box-shadow: 0 1.5px 1px 0 rgba(0, 0, 0, 0.3);
}

.todo-input{
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    transition: .3s ease;
}

.todo-input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-tambah{
    border: none;
    background-color: dimgray;
    padding: 10px 15px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border .3s ease;
}

.btn-tambah:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.btn-tambah:focus{
    outline: none;
}

.container-item{
    padding-top: 15px;
}

.item{
    padding: 20px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 600;
    color: gray;
    display: flex;
}

.item-selesai{
    background-color: forestgreen;
    color: white;
}

.item-selesai .btn-hapus{
    color: white;
}

.item-text{
    flex: 1;
}

.item-btn button{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 15px;
}

.btn-hapus{
    color: tomato;
}

.btn-selesai{
    color: forestgreen;
}